{{ define "main" }}
    {{ if .Title }}
        <h1>{{ .Title }}</h1>
    {{ end }}

    {{ .Content }}

    {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
        <h2>{{ .Page.LinkTitle }}</h2>
        <ul>
            {{ range $taxonomy.Pages }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    {{- if .Draft -}}
                        <span class="draft-label">draft</span>
                    {{- end -}}
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
