html {
  font-size: 150%;
}

body {
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem;
  max-width: 65ch;
}

header {
  font-family: 'Railway', sans-serif;
  font-weight: 200;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

.site-header {
  padding-bottom: 1rem;
  padding-top: 2rem;
  border-bottom: 1px solid #222;
}

.site-header a, .site-header a:hover {
  color: #555555;
}

.site-title{
  font-size: 2rem;
}

.site-subtitle {
  font-size: 1.125rem;
}

p {
  line-height: 1.6em;
  margin-bottom: 1.2em;
}

a, a:hover {
  color: #a00;
  text-decoration: none;
}

@media (max-width: 600px) {
  html {
    font-size: 100%;
  }

  body {
    max-width: none;
  }
}
