html {
  font-size: 150%;
}

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem;
  max-width: 65ch;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

p {
  line-height: 1.6em;
  margin-bottom: 1.2em;
}

a {
  color: #00e;
  text-decoration: none;
}

@media (max-width: 600px) {
  html {
    font-size: 100%;
  }

  body {
    max-width: none;
  }
}
