:root {
  --bg-color: #fff;
  --color: #555;
  --border-color: #555;
  --a-color: #a00;
  --a-color-post-tag: #a00;
  --blockquote-border-color: #a00;

  --html-font-size: 112.5%;
  --body-max-width: 65ch;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: #181a1b;
    --color: #aea89f;
    --border-color: #aea89f;
    --a-color: #ff5655;
    --a-color-post-tag: #ff5655;
    --blockquote-border-color: #ff5655;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --html-font-size: 100%;
    --body-max-width: none;
  }
}

html {
  font-size: var(--html-font-size);
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  margin: 1rem;
  max-width: var(--body-max-width);
}

header {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

footer {
  border-top: 1px solid var(--border-color);
  margin-top: 1rem;
}

article {
  margin-bottom: 3rem;
}

article:first-of-type {
  margin-top: 3rem;
}

article img {
  max-width: 100%;
}

h2 {
  margin: 0;
}

p {
  line-height: 1.6em;
  margin-bottom: 1.6em;
}

blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  font-style: italic;
  border-left: 3px solid var(--blockquote-border-color);
}

hr {
  border: none;
  border-top: 1px solid var(--border-color);
}

a, a:hover {
  color: var(--a-color);
  text-decoration: none;
}

pre {
  overflow-x: scroll;
  padding: 1em;
  margin: 2em 0;
}

pre code {
  white-space: pre;
}

time {
  color: #999;
  font-size: smaller;
}

.icon-svg {
  fill: none;
  stroke: var(--color);
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.site-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.site-description {
  display: flex;
  justify-content: space-between;
}

.site-header a, .site-header a:hover {
  color: var(--color);
}

.site-title {
  font-size: 2rem;
}

.site-subtitle {
  font-size: 1.125rem;
}

.site-menu-main {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.site-menu-main ul {
  margin: 0;
  padding: 0;
}

.site-menu-main ul li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  margin-right: 1rem;
}

.site-menu-social ul {
  margin: 0;
  padding: 0;
}

.site-menu-social ul li {
  display: inline-block;
  list-style: none;
  margin-left: .7rem;
  margin-right: 0;
}

.tag-cloud ul {
  margin: 0;
  padding: 0;
}

.tag-cloud ul li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  margin-right: 1rem;
}

.tag-cloud .count {
  font-size: small;
}

.tag-cloud-post ul {
  margin: 0;
  padding: 0;
}

.tag-cloud-post ul li {
  display: inline-block;
  list-style: none;
  margin-right: .3rem;
}

.tag-cloud-post a {
  border: 1px solid var(--a-color-post-tag);
  border-radius: 4px;
  padding: .3rem .5rem;
  color: var(--a-color-post-tag);
  text-decoration: none;
}

.draft-label {
  color: #a00;
  text-decoration: none;
  text-transform: uppercase;
  padding: .3rem .5rem;
  margin-left: .5rem;
  border-radius: .3rem;
  background-color: #f9f2f4;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.pagination li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination .page-item.page-next {
  text-align: right;
}
